      .flexible-player {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      .spacer {
        flex-grow: 1;
      }
      .player-shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0,  1);
      }
      .control-panel {
        background-color: black;
        display: flex;
      }
      .player-buttons {
        border-style: hidden;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        cursor: pointer;
        height: 1.5em;
        width: 1.5em;
        margin: 5px;
        font-size: 150%;
        text-align: left;
      }